@import '../../variables';



main {
    margin: 100px 0;
}


body {
    overflow-y: scroll;
}

.my_prod_no_prod {
    margin: 50px 0;
}

/* Blocks */
@import 'blocks/prod_header.scss';
@import 'blocks/categories.scss';
@import 'blocks/products.scss';