@import '../../../variables';



.cart__title {
    font-size: 32px;
    font-weight: $regular;
    margin-bottom: 20px;

    display: flex;
    column-gap: 20px;
}


.cart__count_items {
    font-weight: $thin;
}


/* Checkbox */
/* Customize the label (the container) */
.cart__checkbox {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 26px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30px;
}
  
  /* Hide the browser's default checkbox */
.cart__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.cart__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: $base;
}
  

/* Create the cart__checkmark/indicator (hidden when not checked) */
.cart__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the cart__checkmark when checked */
.cart__checkbox input:checked ~ .cart__checkmark:after {
    display: block;
}
  
  /* Style the cart__checkmark/indicator */
.cart__checkbox .cart__checkmark:after {
    left: 12px;
    top: 5px;
    width: 5px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.products__photo_wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 130%; /* Задайте соответствующее соотношение сторон фотографии */
    overflow: hidden;
    border-radius: 15px;
}

.products__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: filter 0.5s ease-in-out;
    z-index: 1;
}

.products__photo_wrapper:hover .products__photo {
    filter: brightness(1);
    z-index: 2;
}

.cart__checkbox_item {
    position: absolute;
    top: 10px;

    right: 0px;
    width: auto;
    z-index: 3;
}
/* ./Checkbox */


/* products__count */
.products__count {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    
}


.products__count_text {
    font-size: 32rem;
    font-weight: $semi_bold;
    color: $gray;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40rem;
    height: 40rem;
    background-color: $secondary;
    border-radius: 50%;
    position: relative;
    text-align: center;
}


.products__count-plus {
    display: inline-block;
    width: 40rem;
    height: 40rem;
    background-color: $secondary;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.products__count-plus:before,
.products__count-plus:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $gray;
}

.products__count-plus:before {
  width: 20rem;
  height: 4rem;
  border-radius: 25px;
  transform: translate(-50%, -50%);
}

.products__count-plus:after {
  width: 4rem;
  height: 20rem;
  border-radius: 25px;
  transform: translate(-50%, -50%);
}

.products__count-minus {
  display: inline-block;
  width: 40rem;
  height: 40rem;
  background: $secondary;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.products__count-minus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 4rem;
  border-radius: 25px;
  background-color: $gray;
  transform: translate(-50%, -50%);
}


.products__count-ico {
    height: 30rem;

    transition: all 0.1s ease-in-out;
    cursor: pointer;
    
    &:hover {
        transform: scale(1.1);
    }
}


.products__mobile_trash {
    display: none;
    position: relative;
    z-index: 3;

    background: $base;
    padding: 5px;
    padding-left: 10px;
    padding-top: 10px;
    border-top-left-radius: 15px;

    float: right;
    top: 300rem;
    right: 0px;
}


.cart_no_prod {
    width: 98%;

    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* ./products__count */


@media (max-width: 400px) {
    .products__count {
        column-gap: 15px;
    }
    
    
    .products__count_text {
        font-size: 38rem;

        width: 60rem;
        height: 60rem;
    }
    
    
    .products__count-plus {
        width: 60rem;
        height: 60rem;
    }
    
    .products__count-plus:before {
      width: 40rem;
      height: 6rem;
    }
    
    .products__count-plus:after {
      width: 6rem;
      height: 40rem;
    }
    
    .products__count-minus {
      width: 60rem;
      height: 60rem;
    }
    
    .products__count-minus:before {
      top: 50%;
      left: 50%;
      width: 40rem;
      height: 6rem;
    }
    
    
    .products__count-ico {
        height: 50rem;
        display: none;
    }


    .products__mobile_trash {
        display: block;
    }

    .products__photo_wrapper {
        border-bottom-right-radius: 0px;
    }
    
}