@import '../variables';



.scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 80px;
    height: 80px;
    background: $base;
    box-shadow: $_box_shadow;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
  
.scroll-to-top-btn::before {
    content: '\2191'; 
    font-size: 48px;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 1024px) {
    .scroll-to-top-btn {
        bottom: 25px;
        right: 25px;
        backdrop-filter: blur(5px);
        background-color: rgb($base, 0.5);
    }
}


