@import '../../../variables';



.about_us {
    margin-top: 50px;
}


.abous_us__title {
    font-size: 32px;
    font-weight: 600;

    margin-bottom: 20px;
}


.abot_us__text {
    height: 200px;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px; 
        background: linear-gradient(to top, rgba($secondary,1) 0%, rgba(255,255,255,0) 100%); /* градиент */
    }
}


.no-bg-after::after {
    background: none;
}


.about_us__paragraph {
    font-size: 20px;
    font-weight: 100;
    line-height: 150%;
}

.about_us__paragraph {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0px;
    }
}


.about_us__btn {
    margin-top: 25px;
    margin-bottom: 200px;
    text-decoration: underline;

    font-weight: 400;
    font-size: 20px;
   
    &:hover {
        text-decoration: none;
        filter: brightness(0.9);
    }
}


.about_us__btn {
    margin-top: 25px;
    margin-bottom: 200px;
    text-decoration: underline;

    font-weight: 400;
    font-size: 20px;
   
    &:hover {
        text-decoration: none;
        filter: brightness(0.9);
    }
}


@media (max-width: 768px) {
    .about_us__btn {
        margin-bottom: 100px;
       
        &:hover {
            text-decoration: underline;
            filter: brightness(1);
        }
    }
}