@import '../../variables';



main {
    margin-bottom: 100px;
}


select {
    cursor: pointer;
    appearance: none;
}


.add_prod_form {
    background: $base;
    box-shadow: $_box_shadow;
    border-radius: 5px;

    width: calc(100% - 180px);
    padding: 90px;
    margin-top: 70px;
}


.add_prod_form__title {
    font-size: 32px;
    font-weight: $regular;
    margin-bottom: 50px;
}


.warning {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $accent;
    color: $white;
    padding: 30px 100px;
    border-radius: 5px;
    transition: top 0.3s ease;
    font-size: 28px;
    font-weight: $regular;
}
  
.show {
    top: 300px;
}





@media (max-width: 1280px) {
    .add_prod_form__title {
        font-size: 28px;
    }

    .add_prod_form {
        width: calc(100% - 90px);
        padding: 45px;
    }
}


@media (max-width: 800px) {
    .add_prod_form__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .add_prod_form {
        width: calc(100% - 30px);
        padding: 30px 15px;
    }

    .warning {
        position: fixed;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $accent;
        color: $white;
        padding: 10px 30px;
        border-radius: 5px;
        transition: top 0.3s ease;
        font-size: 28px;
        font-weight: $regular;
        width: 90%;
        text-align: center;
    }

    .show {
        top: 300px;
    }
      
}


/* Blocks */
@import 'blocks/photos';
@import 'blocks/general_charact';
@import 'blocks/personal_charact';

/* ./Blocks */