<footer class="footer" id="footer">
    <div class="container">
        <div class="defualt_footer_wrapper">
            <div class="footer_item partners">
                <h1 class="footer__title partners__title">Партнёры</h1>
                
                <ul class="partners__list">
                    <li class="footer__item partners__item"><a href="#">Just GO</a></li>
                    <li class="footer__item partners__item"><a href="#">Just Write</a></li>
                    <li class="footer__item partners__item"><a href="#">Just Drive</a></li>
                </ul>
            </div> <!-- ./partners -->

            <div class="footer_item questions">
                <h1 class="footer__title questions__title">Задать вопрос</h1>
                
                <ul class="questions__list">
                    <li class="footer__item questions__item"><a href="#">Жалоба</a></li>
                    <li class="footer__item questions__item"><a href="#">Вопрос</a></li>
                </ul>
            </div> <!-- ./questions -->

            <div class="footer_item social_networks">
                <h1 class="footer__title social_networks__title">Соц. сети</h1>
                
                <ul class="social_networks__list">
                    <li class="social_networks__item">
                        <a href="#">
                            <img src="icons/dest/footer/vk.svg" class="social_networks__photo">
                        </a>
                    </li>

                    <li class="social_networks__item">
                        <a href="#">
                            <img src="icons/dest/footer/youtube.svg" class="social_networks__photo">
                        </a>
                    </li>

                    <li class="social_networks__item">
                        <a href="#">
                            <img src="icons/dest/footer/instagram.svg" class="social_networks__photo">
                        </a>
                    </li>
                </ul>
            </div> <!-- ./social_networks -->

            <div class="footer_item mobile_app">
                <h1 class="footer__title mobile_app__title">
                    Мобильное приложение
                </h1>

                <div class="qr_code_wrapper">
                    <img src="icons/dest/footer/qr_code.svg" class="qr_code_wrapper__qr_code">
                    <a href="#"><img src="icons/dest/footer/playmarket.png" class="qr_code_wrapper__google_icon"></a>
                </div>
            </div> <!-- ./mobile_app -->
        </div> <!-- ./default_footer_wrapper -->

        <div class="mobile_footer_wrapper">
            <div class="mobile_footer_wrapper__item mobile_footer_wrapper__partners">
                <div class="mobile_footer_wrapper__title">Партнёры</div>
                <ul class="mobile_footer_wrapper__list">
                    <li class="mobile_footer_wrapper__link"><a href="#">Just Go</a></li>
                    <li class="mobile_footer_wrapper__link"><a href="#">Just Write</a></li>
                    <li class="mobile_footer_wrapper__link"><a href="#">Just Drive</a></li>
                </ul>
            </div> <!-- ./mobile_footer_wrapper__partners -->

            <div class="mobile_footer_wrapper__item mobile_footer_wrapper__questions">
                <div class="mobile_footer_wrapper__title">Задать вопрос</div>
                <ul class="mobile_footer_wrapper__list">
                    <li class="mobile_footer_wrapper__link"><a href="#">Жалоба</a></li>
                    <li class="mobile_footer_wrapper__link"><a href="#">Вопрос</a></li>
                </ul>
            </div> <!-- ./mobile_footer_wrapper__questions -->

            <div class="mobile_footer_wrapper__item mobile_footer_wrapper__social_nerworks">
                <div class="mobile_footer_wrapper__title">Социальные сети</div>
                <ul class="mobile_footer_wrapper__list">
                    <li class="mobile_footer_wrapper__link"><a href="#">Вконтакте</a></li>
                    <li class="mobile_footer_wrapper__link"><a href="#">Инстаграм</a></li>
                    <li class="mobile_footer_wrapper__link"><a href="#">YouTube</a></li>
                </ul>
            </div> <!-- ./mobile_footer_wrapper__social_nerworks -->

            <div class="mobile_footer_wrapper__item mobile_footer_wrapper_mobile_app">
                <div class="mobile_footer_wrapper__title">Мобильное приложение</div>
                <div class="mobile_footer_wrapper__list">
                    <a class="mobile_footer_wrapper_mobile_app__link" href="#"><p class="mobile_footer_wrapper__text">Скачать в Playmarket</p><img src="icons/dest/footer/playmarket.png" class="mobile_footer_wrapper__icon"></a>
                </div>
            </div> <!-- ./mobile_footer_wrapper__mobile_app -->  
        </div> <!-- ./mobile_footer_wrapper -->
    </div> <!-- ./container -->
</footer> <!-- ./footer -->