<div class="menu menu-hidden" >
    <div class="menu__wrapper">
        <div class="menu__main-category">
            <ul class="menu__main-category-list">
                <li data-menu-id="3" class="menu__main-category-item menu__main-category-item-selected">Бытовая техника</li>
                <li data-menu-id="1" class="menu__main-category-item">Книги</li>
                <li data-menu-id="2" class="menu__main-category-item">Электроника</li>
                <li data-menu-id="4" class="menu__main-category-item">ПК, ноутбуки, перифирия</li>
                <li data-menu-id="5" class="menu__main-category-item">Комплектующие для ПК</li>
                <li data-menu-id="6" class="menu__main-category-item">Офис и мебель</li>
                <li data-menu-id="7" class="menu__main-category-item">Сетевое оборудование</li>
                <li data-menu-id="8" class="menu__main-category-item">Одежда</li>
                <li data-menu-id="9" class="menu__main-category-item">Красота и здоровье</li>
            </ul>
        </div>
        
        <div class="menu__subcategory">
            <div class="menu__subcategory-column">
                <ul class="menu__subcategory-column-list">
                    <li data-subcategory-id="1" class="menu__subcategory-column-item">Варочные панели</li>
                    <li data-subcategory-id="2" class="menu__subcategory-column-item">Духовые шкафы</li>
                    <li data-subcategory-id="3" class="menu__subcategory-column-item">Вытяжки</li>
                    <li data-subcategory-id="4" class="menu__subcategory-column-item">Встраиваемые печи</li>
                    <li data-subcategory-id="5" class="menu__subcategory-column-item">Встраиваемые холодильники</li>
                    <li data-subcategory-id="6" class="menu__subcategory-column-item">Варочные панели</li>
                    <li data-subcategory-id="7" class="menu__subcategory-column-item">Духовые шкафы</li>
                    <li data-subcategory-id="8" class="menu__subcategory-column-item">Вытяжки</li>
                    <li data-subcategory-id="9" class="menu__subcategory-column-item">Встраиваемые печи</li>
                    <li data-subcategory-id="10" class="menu__subcategory-column-item">Варочные панели</li>
                    <li data-subcategory-id="11" class="menu__subcategory-column-item">Вытяжки</li>
                    <li data-subcategory-id="12" class="menu__subcategory-column-item">Встраиваемые холодильники</li>
                    <li data-subcategory-id="13" class="menu__subcategory-column-item">Вытяжки</li>
                    <li data-subcategory-id="14" class="menu__subcategory-column-item">Варочные панели</li>
                    <li data-subcategory-id="15" class="menu__subcategory-column-item">Встраиваемые холодильники</li>
                </ul>
            </div>
            <div class="menu__subcategory-column">
                <ul class="menu__subcategory-column-list">
                    <li data-subcategory-id="16" class="menu__subcategory-column-item">Варочные панели</li>
                    <li data-subcategory-id="17" class="menu__subcategory-column-item">Духовые шкафы</li>
                    <li data-subcategory-id="18" class="menu__subcategory-column-item">Вытяжки</li>
                    <li data-subcategory-id="19" class="menu__subcategory-column-item">Встраиваемые печи</li>
                    <li data-subcategory-id="20" class="menu__subcategory-column-item">Встраиваемые холодильники</li>
                    <li data-subcategory-id="21" class="menu__subcategory-column-item">Варочные панели</li>
                    <li data-subcategory-id="22" class="menu__subcategory-column-item">Духовые шкафы</li>
                    <li data-subcategory-id="23" class="menu__subcategory-column-item">Вытяжки</li>
                    <li data-subcategory-id="24" class="menu__subcategory-column-item">Встраиваемые печи</li>
                    <li data-subcategory-id="25" class="menu__subcategory-column-item">Варочные панели</li>
                    <li data-subcategory-id="26" class="menu__subcategory-column-item">Вытяжки</li>
                    <li data-subcategory-id="27" class="menu__subcategory-column-item">Встраиваемые холодильники</li>
                    <li data-subcategory-id="28" class="menu__subcategory-column-item">Вытяжки</li>
                    <li data-subcategory-id="29" class="menu__subcategory-column-item">Варочные панели</li>
                    <li data-subcategory-id="30" class="menu__subcategory-column-item">Встраиваемые холодильники</li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
<!-- ./menu -->