@import '../../../variables';



.description {
    margin-top: 35px;
}


.description__title {
    font-size: 32px;
    font-weight: $regular;
    color: $white;
    margin-bottom: 20px;
}


.description__text {
    line-height: 1.3;
    font-size: 22px;
    font-weight: $thin;

    color: rgb($white, 0.8);

    max-height: 50px;

    overflow: hidden;
    position: relative;

    transition: max-height 0.1s ease;
}


.description__text--hidden {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px; 
        background: linear-gradient(rgba($secondary, 0), rgb($secondary, 1));
    }
}


.show_yet {
    color: $gray;
    font-weight: $regular;
    font-size: 22px;
    line-height: 1.3;
    margin-top: 10px;

    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}


